html,
body {
  height: 100%;
  margin: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primary;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.settings {
  visibility: hidden;
  position: absolute;
  margin: auto;
  
  &.show-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    background-color: #fff;
    right: rem(15px);
    top: rem(75px);
    padding: rem(30px) rem(15px);
    z-index: 3;
    border-radius: rem(10px);
    box-shadow: rgba(3,27,78,0.1) 0 rem(2px) rem(4px);
  }
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  vertical-align: baseline;
  outline: none;
  text-decoration: none;
  transition: all .3s;
  background: none;
}

.btn {
  height: rem(42px);
  min-height: rem(42px);
  padding: 0 rem(24px);
  border-radius: rem(25px);
  text-align: center;
  white-space: nowrap;
  outline: none;
  letter-spacing: rem(2px);
  transition: .3s;
  text-transform: uppercase;
  font-weight: 700;
  font-family: sans-serif, Arial;
  font-size: rem(16px);
  width: 40vw;
  margin: 0 auto;
  
  &:not(button) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &:hover {
    cursor: pointer;
  }
}

.btn-gradient {
  position: relative;
  color: #fff;
  
  &:after {
    content: "";
    z-index: -1;
    position: absolute;
    background: linear-gradient(60deg, rgba(245, 184, 255, .9) 28%, rgba(111, 136, 255, .9) 50%, rgba(94, 255, 231, .9) 75%, rgba(245, 184, 255, .9) 96%);
    background-size: 300%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: filter .3s linear;
    will-change: filter;
    border-radius: rem(25px);
    animation: btn-gradient 16s linear infinite;
    filter: blur(8px);
  }
  
  &:hover {
    &:after {
      filter: blur(0);
    }
  }
}
